{{> "systems/yggdrasill/templates/partials/chat/rollCheck.hbs"}}
<div>
    <h2>{{localize "yggdrasill.magicCpt.name"}} : {{item.name}}</h2>

{{#if (upperEq total runeData.sd)}}
    <h2 style="color: rgb(0, 94, 0);">{{localize "yggdrasill.magicCpt.difficultyLevel"}} :  {{runeData.sd}}</h2>
</div>
<div>
    {{localize "yggdrasill.magicCpt.preparation"}} :  {{runeData.castDuration}}
</div>
<div>
    {{localize "yggdrasill.magicCpt.power"}} : {{runeData.power}}
</div>
<div>
    {{localize "yggdrasill.magicCpt.durationN"}} :  {{runeData.effectsDuration}}
</div>
<div>
    {{localize "yggdrasill.magicCpt.support"}} :  {{runeData.support}}
</div>
<div>
    {{#if (eq runeData.positiveness "positive")}}
        {{localize "yggdrasill.magicCpt.positiveEffect"}} :  {{{item.data.positiveEffect}}}
    {{else}}
        {{localize "yggdrasill.magicCpt.negativeEffect"}} :  {{{item.data.negativeEffect}}}
    {{/if}}
</div>
    {{else}}
        <h2 style="color: rgb(122, 0, 0);">{{localize "yggdrasill.magicCpt.difficultyLevel"}} :  {{runeData.sd}}</h2>
    </div>
    {{/if}}