{{> "systems/yggdrasill/templates/partials/chat/rollCheck.hbs"}}
<div>
    <h2>{{localize "yggdrasill.magicCpt.dommain"}} : {{item.name}}</h2>

    {{#if (upperEq total galdrData.sd)}}
        <h2 style="color: rgb(0, 94, 0);">{{localize "yggdrasill.magicCpt.difficultyLevel"}} :  {{galdrData.sd}}</h2>
    </div>
    <div>
        {{localize "yggdrasill.magicCpt.durationN"}} :  {{galdrData.durationDice}} {{galdrData.durationUnit}}
    </div>
    <div>
        {{localize "yggdrasill.magicCpt.zoneTargets"}} : {{galdrData.targetValue}}
    </div>
    <div>
        {{localize "yggdrasill.magicCpt.effects"}} :  {{{item.data.description}}}
    </div>
    {{else}}
        <h2 style="color: rgb(122, 0, 0);">{{localize "yggdrasill.magicCpt.difficultyLevel"}} :  {{galdrData.sd}}</h2>
    </div>
    {{/if}}
