{{> "systems/yggdrasill/templates/partials/chat/rollCheck.hbs"}}
<div>
    <h2>{{localize "yggdrasill.magicCpt.name"}} : {{item.name}}</h2>

    {{localize "yggdrasill.magicCpt.preparation"}} :  {{item.data.preparation.value}} {{localize (lookup config.magicDuration item.data.preparation.unit)}}
</div>
<div>
    {{localize "yggdrasill.magicCpt.durationN"}} :  {{item.data.durationValue}}
</div>
{{#if (and (not failure) (not criticalFailures))}}
    <div>
        {{localize "yggdrasill.magicCpt.zone"}} :  {{item.data.zone}}
    </div>
    <div>
        {{#if (not (eq item.data.positiveness "both"))}}
            {{localize "yggdrasill.magicCpt.effects"}} :  {{{item.data.effects}}}
        {{else}}
            {{#if (eq positiveness "positive")}}
                {{localize "yggdrasill.magicCpt.effects"}} :  {{{item.data.effects}}}
            {{else}}
                {{localize "yggdrasill.magicCpt.effects"}} :  {{{item.data.invertEffects}}}
            {{/if}}
        {{/if}}
    </div>
    
    {{#if (or (equals positiveness "positive") (equals positiveness "neutral"))}}
        <h2 style="color: rgb(0, 94, 0);">{{localize "yggdrasill.magicCpt.successThreshold"}} : {{lookup (lookup actor.data.sr.level actor.data.sr.value) "value"}}</h2>
    {{else}}
        <h2 style="color: rgb(150, 97, 0);">{{localize "yggdrasill.magicCpt.successThreshold"}} : {{lookup (lookup actor.data.sr.level actor.data.sr.value) "value"}} + {{localize "yggdrasill.characteristics.secondary.dm"}}</h2>
    {{/if}}
{{else}}
    <h2 style="color: rgb(122, 0, 0);">{{localize "yggdrasill.magicCpt.successThreshold"}} : {{lookup (lookup actor.data.sr.level actor.data.sr.value) "value"}}</h2>
{{/if}}



