{{> "templates/dice/roll.html"}}
<div>
    <h1>{{localize "yggdrasill.weapon.name"}} : {{name}}</h1>
    <p>{{localize "yggdrasill.chat.actions.damages"}} : {{item.data.dmgBase}} + {{actor.data.dmgMod}}</p>
</div>
<div>
    {{data.dmgBase}}
</div>
