<div class= "chat-card item weapon" data-type="{{type}}" data-item-id="{{_id}}" data-owner-id="{{owner}}">
    <div class= "card-content" >
        <h1>{{localize "yggdrasill.weapon.name"}} : {{name}}</h1>
        <p>{{localize "yggdrasill.chat.actions.damages"}} : {{data.dmgBase}}</p>
        <div class="card-params">
            {{#if data.properties.ranged}}
                {{#if data.properties.power}}
                    <div style="display: grid; grid-template-columns:1fr 50%; gap:2px;">
                        <h3>Carac :</h3><select class="carac" data-type="{{type}}" data-ranged={{data.properties.ranged}} data-owner-id="{{owner}}" name="data.caracUsed.name" style="width:100%">
                            {{#select actor.data.caracUsed}}
                                {{#each config.powerRangedCarac as |name key|}}
                                    <option value="{{key}}">{{localize name}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </div>
                {{else}} {{#if data.properties.instinct}}
                        <div style="display: grid; grid-template-columns:1fr 50%; gap:2px;">
                            <h3>Carac :</h3><select class="carac" data-type="{{type}}" data-ranged={{data.properties.ranged}} data-owner-id="{{owner}}" name="data.caracUsed.name" style="width:100%">
                                {{#select actor.data.caracUsed}}
                                    {{#each config.instinctRangedCarac as |name key|}}
                                        <option value="{{key}}">{{localize name}}</option>
                                    {{/each}}
                                {{/select}}
                            </select>
                        </div>
                    {{else}} 
                        <div style="display: grid; grid-template-columns:1fr 50%; gap:2px;">
                            <h3>Carac :</h3><select class="carac" data-type="{{type}}" data-ranged={{data.properties.ranged}} data-owner-id="{{owner}}" name="data.caracUsed.name" style="width:100%">
                                {{#select actor.data.caracUsed}}
                                    {{#each config.rangedCarac as |name key|}}
                                        <option value="{{key}}">{{localize name}}</option>
                                    {{/each}}
                                {{/select}}
                            </select>
                        </div>
                    {{/if}}
                {{/if}}
            {{else}}
                <div style="display: grid; grid-template-columns:1fr 50%; gap:2px;">
                    <h3>Carac :</h3><select class="carac" data-type="{{type}}" data-ranged={{data.properties.ranged}} data-owner-id="{{owner}}" name="data.caracUsed.name" style="width:100%">
                    {{#select actor.data.caracUsed}}
                        {{#each config.meleeCarac as |name key|}}
                            <option value="{{key}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
                </div>
            {{/if}}
            <div style="display: grid; grid-template-columns:repeat(3, 1fr); gap:2px;">
                <h3>Furor :</h3><input class="furor" data-owner-id="{{owner}}" data-ranged=false name="data.nbDiceFuror.value" type="number" min="{{actor.data.nbDiceFuror.min}}" max="{{actor.data.nbDiceFuror.max}}" value="{{actor.data.nbDiceFuror.value}}" data-type="Number" style="text-align: right;"><p style="margin: 0.35em 0;">/{{actor.data.reserve.max}}</p>
            </div>
            <div style="display: grid; grid-template-columns:repeat(3, 1fr); gap:2px;">
                <h3>{{localize "yggdrasill.chat.other.destiny"}}</h3><label class="checkbox"><input class="destiny" data-owner-id="{{owner}}" data-field="data.isDestinyRoll" type="checkbox" {{checked  data.isDestinyRoll}}></label>    

            </div>
        </div>
    </div>
    <div class="card-buttons">
        <button type="button" class="roll">{{localize "yggdrasill.chat.actions.roll"}}</button>
    </div>
    

<div>