<div class= "chat-card" data-type="{{type}}" data-item-id="{{_id}}" data-owner-id="{{owner}}">
    <div class="card-header">
    <h2>{{localize "yggdrasill.weapon.name"}} : {{item.name}}</h2>
    </div>
    <div class="card-content">
    {{> "systems/yggdrasill/templates/partials/chat/rollCheck.hbs"}}
    </div>

    {{#if criticalFailures}}
        <h2 style="color: rgb(122, 0, 0);">{{localize "yggdrasill.magicCpt.successThreshold"}} : {{lookup (lookup actor.data.sr.level actor.data.sr.value) "value"}} + {{localize "yggdrasill.characteristics.secondary.dp"}}</h2>
    {{else}}
        {{#if (lowerEq total (lookup (lookup actor.data.sr.level actor.data.sr.value) "value"))}}
            {{log (add (add total "lowerEq") (lookup (lookup actor.data.sr.level actor.data.sr.value) "value"))}}
            <h2 style="color: rgb(122, 0, 0);">{{localize "yggdrasill.magicCpt.successThreshold"}} : {{lookup (lookup actor.data.sr.level actor.data.sr.value) "value"}} + {{localize "yggdrasill.characteristics.secondary.dp"}}</h2>
        {{else}}
            {{log (add (add total "Between or upper") (lookup (lookup actor.data.sr.level actor.data.sr.value) "value"))}} 
            <h2 style="color: rgb(150, 97, 0);">{{localize "yggdrasill.magicCpt.successThreshold"}} : {{lookup (lookup actor.data.sr.level actor.data.sr.value) "value"}} + {{localize "yggdrasill.characteristics.secondary.dp"}}</h2>
        {{/if}}
        <h2>{{localize "yggdrasill.chat.actions.damages"}} : {{add item.data.dmgBase actor.data.dmgMod}} ({{item.data.dmgBase}} + {{actor.data.dmgMod}})</h2>
    {{/if}}
</div>
