<tr>
    <td>{{name}}</td>
    <td>
        <label class="checkbox"><input type="checkbox" disabled="disabled" name="data.properties.pieceProtec" {{checked  data.properties.pieceProtec}}></label>
    </td>
    <td>{{data.defBase.value}}</td>
    <td>{{data.solidity}}</td>
    <td>{{data.enc}}</td>
    <td>{{data.price}}</td>
</tr>