<section class="magic-list">
    <h3>
        {{localize "yggdrasill.magicCpt.sejdr"}}
    </h3>
    <table>
        <tr>
            <th>{{localize "yggdrasill.magicCpt.name"}}</th>
            <th>{{localize "yggdrasill.magicCpt.level"}}</th>
            <th>{{localize "yggdrasill.magicCpt.modifier"}}</th>
            <th>{{localize "yggdrasill.magicCpt.type"}}</th>
            <th>{{localize "yggdrasill.magicCpt.preparation"}}</th>
            <th>{{localize "yggdrasill.magicCpt.zone"}}</th>
            <th colspan="2">
                <a class="item-create" data-type="sejdrCpt" title="{{localize "yggdrasill.sheet.addSejdr"}}">
                    <i class="fas fa-plus"></i>
                </a>
            </th>
        </tr>
        {{#each sejdrCpt as |sejdr id|}}
            <tr class="sejdrCpt-item item" data-item-id="{{_id}}">
                <td>
                    <div class="competence_name">
                    {{#if (and ../data.data.lifePoints.isWeary (lowerEq ../data.data.primCarac.soul.instinct.value 1 ))}}                        
                        <p>{{name}}</p>
                    {{else}}
                        <a><p class="task-check" data-tasktype="sejdrCpt" >{{name}}</p></a>
                    {{/if}}
                        <span class="comp_tooltiptext comp_tooltiptextwidth_noLinkCol comp_tooltiptextleft_noLinkCol">
                            <h1>{{name}} :</h1><p>
                                <h3>
                                    {{localize "yggdrasill.magicCpt.effects"}}:
                                </h3>{{{data.effects}}}</p>
                                <p>
                                <h3>
                                    {{localize "yggdrasill.magicCpt.invertEffects"}}:
                                </h3>{{{data.invertEffects}}}</p>
                        </span>
                    </div>
                </td>
                <td>{{data.level}}</td>
                <td>{{data.modifier}}</td>
                <td>{{localize (lookup ../config.sejdrTypes data.type)}}</td>
                <td>{{data.preparation.value}} {{localize (lookup ../config.magicDuration data.preparation.unit)}}</td>
                <td>{{data.zone}}</td>
                <td>
                    <a class="item-edit" title="{{localize "yggdrasill.sheet.editSejdr"}}">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
                <td>
                    <a class="item-delete" title="{{localize "yggdrasill.sheet.deleteSejdr"}}">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        {{/each}}
    </table>
    <h3>
        {{localize "yggdrasill.magicCpt.galdr"}}
    </h3>
    <table>
        <tr>
            <th>{{localize "yggdrasill.magicCpt.difficultyLevel"}}</th>
            <th>{{localize "yggdrasill.magicCpt.dommain"}}</th>
            <th>{{localize "yggdrasill.magicCpt.type"}}</th>
            <th colspan="2">
                <a class="item-create" data-type="galdrCpt" title="{{localize "yggdrasill.sheet.addGaldr"}}">
                    <i class="fas fa-plus"></i>
                </a>
            </th>
        </tr>
        {{#each galdrCpt as |galdr id|}}
            <tr class="galdrCpt-item item" data-item-id="{{_id}}">
                <td>{{data.difficultyLevel}}</td>
                <td>
                    <div class="competence_name">
                    {{#if (and ../data.data.lifePoints.isWeary (lowerEq ../data.data.primCarac.soul.charisma.value 1 ))}}                        
                        <p>{{name}}</p>
                    {{else}}
                        <a><p class="task-check" data-tasktype="galdrCpt" >{{name}}</p></a>
                    {{/if}}
                        <span class="comp_tooltiptext comp_tooltiptextwidth_noLinkCol comp_tooltiptextleft_noLinkCol">
                            <h1>{{name}} :</h1><p>{{{data.description}}}</p>
                        </span>
                    </div>
                </td>
                <td>{{localize (lookup ../config.galdrTypes data.type)}}</td>
                <td>
                    <a class="item-edit" title="{{localize "yggdrasill.sheet.editGaldr"}}">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
                <td>
                    <a class="item-delete" title="{{localize "yggdrasill.sheet.deleteGaldr"}}">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        {{/each}}
    </table>
    <h3>
        {{localize "yggdrasill.magicCpt.rune"}}
    </h3>
    <table>
        <tr>
            <th>{{localize "yggdrasill.magicCpt.name"}}</th>
            <th>{{localize "yggdrasill.magicCpt.level"}}</th>
            <th>{{localize "yggdrasill.magicCpt.dommain"}}</th>
            <th colspan="2">
                <a class="item-create" data-type="runeCpt" title="{{localize "yggdrasill.sheet.addRune"}}">
                    <i class="fas fa-plus"></i>
                </a>
            </th>
        </tr>
        {{#each runeCpt as |rune id|}}
            <tr class="runeCpt-item item" data-item-id="{{_id}}">
                <td>
                    <div class="competence_name">
                    {{#if (and ../data.data.lifePoints.isWeary (lowerEq ../data.data.primCarac.soul.communication.value 1 ))}}                        
                        <p>{{name}}</p>
                    {{else}}
                        <a><p class="task-check" data-tasktype="runeCpt" >{{name}}</p></a>
                    {{/if}}
                        <span class="comp_tooltiptext comp_tooltiptextwidth_noLinkCol comp_tooltiptextleft_noLinkCol">
                            <h1>{{name}} :</h1><p>
                                <h3>
                                    {{localize "yggdrasill.magicCpt.positiveEffect"}}:
                                </h3>{{{data.positiveEffect}}}</p>
                                <p>
                                <h3>
                                    {{localize "yggdrasill.magicCpt.negativeEffect"}}:
                                </h3>{{{data.negativeEffect}}}</p>
                        </span>
                    </div>
                </td>
                <td>{{data.level}}</td>
                <td>{{data.dommain}}</td>
                <td>
                    <a class="item-edit" title="{{localize "yggdrasill.sheet.editRune"}}">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
                <td>
                    <a class="item-delete" title="{{localize "yggdrasill.sheet.deleteRune"}}">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        {{/each}}
    </table>
</section>