<section>
    <table>
        <tr>
            <th colspan="2">{{localize "yggdrasill.characteristics.primary.body"}}</th>
            <th colspan="2">{{localize "yggdrasill.characteristics.primary.spirit"}}</th>
            <th colspan="2">{{localize "yggdrasill.characteristics.primary.soul"}}</th>
        </tr>
        <tr>
            <td>
                {{#if (upper data.data.nbDiceKept 0)}}
                <a><p class="carac-roll" data-carac="body.power">{{localize "yggdrasill.characteristics.primary.power"}}</p></a>
                {{else}}
                    <p>{{localize "yggdrasill.characteristics.primary.power"}}</p>
                {{/if}}
            </td>
            <td>
                <input name="data.primCarac.body.power.value" type="number" min="0" max={{data.data.valPrimCaracMax}} value="{{data.data.primCarac.body.power.value}}"
                data-dtype="Number" />
            </td>
            <td>
                {{#if (upper data.data.nbDiceKept 0)}}
                <a><p class="carac-roll" data-carac="spirit.intelect">{{localize "yggdrasill.characteristics.primary.intelect"}}</p></a>
                {{else}}
                    <p>{{localize "yggdrasill.characteristics.primary.intelect"}}</p>
                {{/if}}
            </td>
            <td>
                <input name="data.primCarac.spirit.intelect.value" type="number"  min="0"  max={{data.data.valPrimCaracMax}} value="{{data.data.primCarac.spirit.intelect.value}}"
                data-dtype="Number" />
            </td>
            <td>
                {{#if (upper data.data.nbDiceKept 0)}}
                <a><p class="carac-roll" data-carac="soul.charisma">{{localize "yggdrasill.characteristics.primary.charisma"}}</p></a>
                {{else}}
                    <p>{{localize "yggdrasill.characteristics.primary.charisma"}}</p>
                {{/if}}
            </td>
            <td>
                <input name="data.primCarac.soul.charisma.value" type="number"  min="0"  max={{data.data.valPrimCaracMax}} value="{{data.data.primCarac.soul.charisma.value}}"
                data-dtype="Number" />
            </td>
        </tr>
        <tr>
            <td>
                {{#if (upper data.data.nbDiceKept 0)}}
                <a><p class="carac-roll" data-carac="body.vigour">{{localize "yggdrasill.characteristics.primary.vigour"}}</p></a>
                {{else}}
                    <p>{{localize "yggdrasill.characteristics.primary.vigour"}}</p>
                {{/if}}
            </td>
            <td>
                <input name="data.primCarac.body.vigour.value" type="number"  min="0"  max={{data.data.valPrimCaracMax}} value="{{data.data.primCarac.body.vigour.value}}"
                data-dtype="Number" />
            </td>
            <td>
                {{#if (upper data.data.nbDiceKept 0)}}
                <a><p class="carac-roll" data-carac="spirit.perception">{{localize "yggdrasill.characteristics.primary.perception"}}</p></a>
                {{else}}
                    <p>{{localize "yggdrasill.characteristics.primary.perception"}}</p>
                {{/if}}
            </td>
            <td>
                <input name="data.primCarac.spirit.perception.value" type="number"  min="0"  max={{data.data.valPrimCaracMax}} value="{{data.data.primCarac.spirit.perception.value}}"
                data-dtype="Number" />
            </td>
            <td>
                {{#if (upper data.data.nbDiceKept 0)}}
                <a><p class="carac-roll" data-carac="soul.instinct">{{localize "yggdrasill.characteristics.primary.instinct"}}</p></a>
                {{else}}
                    <p>{{localize "yggdrasill.characteristics.primary.instinct"}}</p>
                {{/if}}
            </td>
            <td>
                <input name="data.primCarac.soul.instinct.value" type="number"  min="0"  max={{data.data.valPrimCaracMax}} value="{{data.data.primCarac.soul.instinct.value}}"
                data-dtype="Number" />
            </td>
        </tr>
        <tr>
            <td>
                {{#if (upper data.data.nbDiceKept 0)}}
                <a><p class="carac-roll" data-carac="body.agility">{{localize "yggdrasill.characteristics.primary.agility"}}</p></a>
                {{else}}
                    <p>{{localize "yggdrasill.characteristics.primary.agility"}}</p>
                {{/if}}
            </td>
            <td>
                <input name="data.primCarac.body.agility.value" type="number"  min="0"  max={{data.data.valPrimCaracMax}} value="{{data.data.primCarac.body.agility.value}}"
                data-dtype="Number" />
            </td>
            <td>
                {{#if (upper data.data.nbDiceKept 0)}}
                <a><p class="carac-roll" data-carac="spirit.tenacity">{{localize "yggdrasill.characteristics.primary.tenacity"}}</p></a>
                {{else}}
                    <p>{{localize "yggdrasill.characteristics.primary.tenacity"}}</p>
                {{/if}}
            </td>
            <td>
                <input name="data.primCarac.spirit.tenacity.value" type="number"  min="0"  max={{data.data.valPrimCaracMax}} value="{{data.data.primCarac.spirit.tenacity.value}}"
                data-dtype="Number" />
            </td>
            <td>
                {{#if (upper data.data.nbDiceKept 0)}}
                <a><p class="carac-roll" data-carac="soul.communication">{{localize "yggdrasill.characteristics.primary.communication"}}</p></a>
                {{else}}
                    <p>{{localize "yggdrasill.characteristics.primary.communication"}}</p>
                {{/if}}
            </td>
            <td>
                <input name="data.primCarac.soul.communication.value" type="number"  min="0"  max={{data.data.valPrimCaracMax}} value="{{data.data.primCarac.soul.communication.value}}"
                data-dtype="Number" />
            </td>
        </tr>
    </table>
</section>