<section class="richness-list">
    <div class="richness-tables" style="display: grid; grid-template-columns:1fr 180px; gap:5px;">
        <table>
            <tr>
                <th colspan="6">{{localize "yggdrasill.character.richness"}}</th>
            </tr>
            <tr>
                <td>{{localize "yggdrasill.character.gold"}}</td>
                <td><input name="data.richness.gold" type="number" value="{{data.data.richness.gold}}" data-type="Number"></td>
                <td>{{localize "yggdrasill.character.silver"}}</td>
                <td><input name="data.richness.silver" type="number" value="{{data.data.richness.silver}}" data-type="Number"></td>
                <td>{{localize "yggdrasill.character.copper"}}</td>
                <td><input name="data.richness.copper" type="number" value="{{data.data.richness.copper}}" data-type="Number"></td>
            </tr>
        </table>
        <table>
            {{#if (or (eq actor.type "pj") (eq actor.type "pnj"))}}
            <tr>
                <th colspan="2">{{localize "yggdrasill.character.lifePt"}}</th>
            </tr>
            <tr>
                <td>
                    <div  style="display: grid; grid-template-columns:1fr 50%; gap:2px;">
                        <input name="data.lifePoints.value" type="number" max="{{data.data.lifePoints.max}}" min="{{data.data.lifePoints.min}}" value="{{data.data.lifePoints.value}}" data-type="Number" style="text-align: right;"><p style="margin: 0.35em 0;">/{{data.data.lifePoints.max}}</p>
                    </div>
                </td>
                <td>{{localize (lookup config.importantCharacStatus data.data.lifePoints.status)}}</td>
            </tr>
            {{else}}
            <tr>
                <th >{{localize "yggdrasill.character.lifeStatus"}}</th>
            </tr>
            <tr>
                <td>
                    <select name="data.lifeStatus" style="width:100%">
                        {{#select data.data.lifeStatus}}
                        {{#each config.charactersStatus as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
            </tr>
            {{/if}}
        </table>
    </div>
</section>