<section>
    <table>
        <tr>
            <th colspan="2">{{localize "yggdrasill.characteristics.secondary.ini"}}</th>
            <th colspan="2">{{localize "yggdrasill.characteristics.secondary.dp"}}</th>
            <th colspan="2">{{localize "yggdrasill.characteristics.secondary.dm"}}</th>
        </tr>
        <tr>
            <td>
                {{localize "yggdrasill.characteristics.secondary.reaction"}}
            </td>
            <td>
                <input name="data.secCarac.ini.reaction" type="number" value="{{data.data.secCarac.ini.reaction}}"
                data-dtype="Number" />
            </td>
            <td>
                {{localize "yggdrasill.characteristics.secondary.base"}}
            </td>
            <td>
                <input name="data.secCarac.dp.base" type="number" value="{{data.data.secCarac.dp.base}}"
                data-dtype="Number" />
            </td>
            <td>
                {{localize "yggdrasill.characteristics.secondary.base"}}
            </td>
            <td>
                <input name="data.secCarac.dm.base" type="number" value="{{data.data.secCarac.dm.base}}"
                data-dtype="Number" />
            </td>
        </tr>
        <tr>
            <td>
                {{localize "yggdrasill.characteristics.secondary.spaceReq"}}
            </td>
            <td>
                <input name="data.secCarac.ini.spaceReq" type="number" value="{{data.data.secCarac.ini.spaceReq}}"
                data-dtype="Number" />
            </td>
            <td>
                {{localize "yggdrasill.characteristics.secondary.spaceReq"}}
            </td>
            <td>
                <input name="data.secCarac.dp.spaceReq" type="number" value="{{data.data.secCarac.dp.spaceReq}}"
                data-dtype="Number" />
            </td>
            <td>
                {{localize "yggdrasill.characteristics.secondary.protection"}}
            </td>
            <td>
                <input name="data.secCarac.dm.protection" type="number" value="{{data.data.secCarac.dm.protection}}"
                data-dtype="Number" />
            </td>
        </tr>
        <tr>
            <td>
                {{localize "yggdrasill.characteristics.secondary.protection"}}
            </td>
            <td>
                <input name="data.secCarac.ini.protection" type="number" value="{{data.data.secCarac.ini.protection}}"
                data-dtype="Number" />
            </td>
            <td>
                {{localize "yggdrasill.characteristics.secondary.protection"}}
            </td>
            <td>
                <input name="data.secCarac.dp.protection" type="number" value="{{data.data.secCarac.dp.protection}}"
                data-dtype="Number" />
            </td>
            <td>
                {{localize "yggdrasill.characteristics.secondary.magic"}}
            </td>
            <td>
                <input name="data.secCarac.dm.magic" type="number" value="{{data.data.secCarac.dm.magic}}"
                data-dtype="Number" />
            </td>
        </tr>
        <tr>
            <td>
                {{localize "yggdrasill.characteristics.secondary.magic"}}
            </td>
            <td>
                <input name="data.secCarac.ini.magic" type="number" value="{{data.data.secCarac.ini.magic}}"
                data-dtype="Number" />
            </td>
            <td>
                {{localize "yggdrasill.characteristics.secondary.magic"}}
            </td>
            <td>
                <input name="data.secCarac.dp.magic" type="number" value="{{data.data.secCarac.dp.magic}}"
                data-dtype="Number" />
            </td>
        </tr>
        <tr>
            <td>
                {{localize "yggdrasill.characteristics.secondary.ttlIni"}}
            </td>
            <td>
                <input name="data.secCarac.ttlIni" type="number" value="{{data.data.secCarac.ttlIni}}"
                data-dtype="Number" />
            </td>
            <td>
                {{localize "yggdrasill.characteristics.secondary.ttlDp"}}
            </td>
            <td>
                <input name="data.secCarac.ttlDp" type="number" value="{{data.data.secCarac.ttlDp}}"
                data-dtype="Number" />
            </td>
            <td>
                {{localize "yggdrasill.characteristics.secondary.ttlDm"}}
            </td>
            <td>
                <input name="data.secCarac.ttlDm" type="number" value="{{data.data.secCarac.ttlDm}}"
                data-dtype="Number" />
            </td>
        </tr>
    </table>
</section>