<section>
    <table>
        <tr>
            <th colspan="2">{{localize "yggdrasill.characteristics.primary.body"}}</th>
            <th colspan="2">{{localize "yggdrasill.characteristics.primary.spirit"}}</th>
            <th colspan="2">{{localize "yggdrasill.characteristics.primary.soul"}}</th>
        </tr>
        <tr>
            <td>
                {{localize "yggdrasill.characteristics.primary.power"}}
            </td>
            <td>
                <input name="data.primCarac.body.power.value" type="number" value="{{data.data.primCarac.body.power.value}}"
                data-dtype="Number" />
            </td>
            <td>
                {{localize "yggdrasill.characteristics.primary.intelect"}}
            </td>
            <td>
                <input name="data.primCarac.spirit.intelect.value" type="number" value="{{data.data.primCarac.spirit.intelect.value}}"
                data-dtype="Number" />
            </td>
            <td>
                {{localize "yggdrasill.characteristics.primary.charisma"}}
            </td>
            <td>
                <input name="data.primCarac.soul.charisma.value" type="number" value="{{data.data.primCarac.soul.charisma.value}}"
                data-dtype="Number" />
            </td>
        </tr>
        <tr>
            <td>
                {{localize "yggdrasill.characteristics.primary.vigour"}}
            </td>
            <td>
                <input name="data.primCarac.body.vigour.value" type="number" value="{{data.data.primCarac.body.vigour.value}}"
                data-dtype="Number" />
            </td>
            <td>
                {{localize "yggdrasill.characteristics.primary.perception"}}
            </td>
            <td>
                <input name="data.primCarac.spirit.perception.value" type="number" value="{{data.data.primCarac.spirit.perception.value}}"
                data-dtype="Number" />
            </td>
            <td>
                {{localize "yggdrasill.characteristics.primary.instinct"}}
            </td>
            <td>
                <input name="data.primCarac.soul.instinct.value" type="number" value="{{data.data.primCarac.soul.instinct.value}}"
                data-dtype="Number" />
            </td>
        </tr>
        <tr>
            <td>
                {{localize "yggdrasill.characteristics.primary.agility"}}
            </td>
            <td>
                <input name="data.primCarac.body.agility.value" type="number" value="{{data.data.primCarac.body.agility.value}}"
                data-dtype="Number" />
            </td>
            <td>
                {{localize "yggdrasill.characteristics.primary.tenacity"}}
            </td>
            <td>
                <input name="data.primCarac.spirit.tenacity.value" type="number" value="{{data.data.primCarac.spirit.tenacity.value}}"
                data-dtype="Number" />
            </td>
            <td>
                {{localize "yggdrasill.characteristics.primary.communication"}}
            </td>
            <td>
                <input name="data.primCarac.soul.communication.value" type="number" value="{{data.data.primCarac.soul.communication.value}}"
                data-dtype="Number" />
            </td>
        </tr>
    </table>
</section>