<section>
    <table>
        <tr>
            <th colspan="2">{{localize "yggdrasill.characteristics.primary.body"}}</th>
            <th colspan="2">{{localize "yggdrasill.characteristics.primary.spirit"}}</th>
            <th colspan="2">{{localize "yggdrasill.characteristics.primary.soul"}}</th>
        </tr>
        <tr>
            <td>
                {{#if (and data.data.lifePoints.isWeary (lowerEq data.data.primCarac.body.power.value 1))}}
                    <p>{{localize "yggdrasill.characteristics.primary.power"}}</p>                
                {{else}}
                    <a><p class="task-check" data-tasktype="carac" data-carac="power">{{localize "yggdrasill.characteristics.primary.power"}}</p></a>
                {{/if}}
            </td>
            <td>
                <input name="data.primCarac.body.power.value" type="number" min="0" max={{data.data.valPrimCaracMax}} value="{{data.data.primCarac.body.power.value}}"
                data-dtype="Number" />
            </td>
            <td>
                {{#if (and data.data.lifePoints.isWeary (lowerEq data.data.primCarac.spirit.intelect.value 1 ))}}
                    <p>{{localize "yggdrasill.characteristics.primary.intelect"}}</p>
                {{else}}
                <a><p class="task-check" data-tasktype="carac" data-carac="intelect">{{localize "yggdrasill.characteristics.primary.intelect"}}</p></a>
                {{/if}}
            </td>
            <td>
                <input name="data.primCarac.spirit.intelect.value" type="number"  min="0"  max={{data.data.valPrimCaracMax}} value="{{data.data.primCarac.spirit.intelect.value}}"
                data-dtype="Number" />
            </td>
            <td>
                {{#if (and data.data.lifePoints.isWeary (lowerEq data.data.primCarac.soul.charisma.value 1 ))}}
                    <p>{{localize "yggdrasill.characteristics.primary.charisma"}}</p>
                {{else}}
                <a><p class="task-check" data-tasktype="carac" data-carac="charisma">{{localize "yggdrasill.characteristics.primary.charisma"}}</p></a>
                {{/if}}
            </td>
            <td>
                <input name="data.primCarac.soul.charisma.value" type="number"  min="0"  max={{data.data.valPrimCaracMax}} value="{{data.data.primCarac.soul.charisma.value}}"
                data-dtype="Number" />
            </td>
        </tr>
        <tr>
            <td>
                {{#if (and data.data.lifePoints.isWeary (lowerEq data.data.primCarac.body.vigour.value 1 ))}}
                    <p>{{localize "yggdrasill.characteristics.primary.vigour"}}</p>
                {{else}}
                <a><p class="task-check" data-tasktype="carac" data-carac="vigour">{{localize "yggdrasill.characteristics.primary.vigour"}}</p></a>
                {{/if}}
            </td>
            <td>
                <input name="data.primCarac.body.vigour.value" type="number"  min="0"  max={{data.data.valPrimCaracMax}} value="{{data.data.primCarac.body.vigour.value}}"
                data-dtype="Number" />
            </td>
            <td>
                {{#if (and data.data.lifePoints.isWeary (lowerEq data.data.primCarac.spirit.perception.value 1 ))}}
                    <p>{{localize "yggdrasill.characteristics.primary.perception"}}</p>
                {{else}}
                <a><p class="task-check" data-tasktype="carac" data-carac="perception">{{localize "yggdrasill.characteristics.primary.perception"}}</p></a>
                {{/if}}
            </td>
            <td>
                <input name="data.primCarac.spirit.perception.value" type="number"  min="0"  max={{data.data.valPrimCaracMax}} value="{{data.data.primCarac.spirit.perception.value}}"
                data-dtype="Number" />
            </td>
            <td>
                {{#if (and data.data.lifePoints.isWeary (lowerEq data.data.primCarac.soul.instinct.value 1 ))}}
                    <p>{{localize "yggdrasill.characteristics.primary.instinct"}}</p>
                {{else}}
                <a><p class="task-check" data-tasktype="carac" data-carac="instinct">{{localize "yggdrasill.characteristics.primary.instinct"}}</p></a>
                {{/if}}
            </td>
            <td>
                <input name="data.primCarac.soul.instinct.value" type="number"  min="0"  max={{data.data.valPrimCaracMax}} value="{{data.data.primCarac.soul.instinct.value}}"
                data-dtype="Number" />
            </td>
        </tr>
        <tr>
            <td>
                {{#if (and data.data.lifePoints.isWeary (lowerEq data.data.primCarac.body.agility.value 1 ))}}
                    <p>{{localize "yggdrasill.characteristics.primary.agility"}}</p>
                {{else}}
                <a><p class="task-check" data-tasktype="carac" data-carac="agility">{{localize "yggdrasill.characteristics.primary.agility"}}</p></a>
                {{/if}}
            </td>
            <td>
                <input name="data.primCarac.body.agility.value" type="number"  min="0"  max={{data.data.valPrimCaracMax}} value="{{data.data.primCarac.body.agility.value}}"
                data-dtype="Number" />
            </td>
            <td>
                {{#if (and data.data.lifePoints.isWeary (lowerEq data.data.primCarac.spirit.tenacity.value 1 ))}}
                    <p>{{localize "yggdrasill.characteristics.primary.tenacity"}}</p>
                {{else}}
                <a><p class="task-check" data-tasktype="carac" data-carac="tenacity">{{localize "yggdrasill.characteristics.primary.tenacity"}}</p></a>
                {{/if}}
            </td>
            <td>
                <input name="data.primCarac.spirit.tenacity.value" type="number"  min="0"  max={{data.data.valPrimCaracMax}} value="{{data.data.primCarac.spirit.tenacity.value}}"
                data-dtype="Number" />
            </td>
            <td>
                {{#if (and data.data.lifePoints.isWeary (lowerEq data.data.primCarac.soul.communication.value 1 ))}}
                    <p>{{localize "yggdrasill.characteristics.primary.communication"}}</p>
                {{else}}
                <a><p class="task-check" data-tasktype="carac" data-carac="communication">{{localize "yggdrasill.characteristics.primary.communication"}}</p></a>
                {{/if}}
            </td>
            <td>
                <input name="data.primCarac.soul.communication.value" type="number"  min="0"  max={{data.data.valPrimCaracMax}} value="{{data.data.primCarac.soul.communication.value}}"
                data-dtype="Number" />
            </td>
        </tr>
    </table>
</section>