<section class="competence-list">
    <table>
        <tr>
            <th>
                {{localize "yggdrasill.competence.name"}}
            </th>
            <th>{{localize "yggdrasill.competence.value"}}</th>
            <th colspan="3">
                <a class="item-create" data-type="competence" title="{{localize "yggdrasill.sheet.addCpt"}}">
                    <i class="fas fa-plus"></i>
                </a>
            </th>
        </tr>
        {{#each competences as |competence id|}}
            <tr class="skill-item item" data-item-id="{{_id}}">
                <td>
                {{#if (upper ../data.data.nbDiceKept 0)}}
                    <a><p class="item-roll">{{name}}</p></a>
                {{else}}
                    <p>{{name}}</p>
                {{/if}}
                </td>
                <td>
                    <input class="skill-value inline-edit" data-field="data.value" type="number" min="0" value="{{data.value}}"/>
                    </td>
                <td>
                    <a class="item-edit" title="{{localize "yggdrasill.sheet.editCpt"}}">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
                <td>
                    <a class="item-delete " title="{{localize "yggdrasill.sheet.deleteCpt"}}">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        {{/each}}
    </table>
</section>