<section>
    <table>
        <tr>
            <td>
                <h3>{{localize "yggdrasill.character.age"}}</h3>
            </td>
            <td>
                <input name="data.age" type="number" value="{{data.data.age}}" placeholder={{localize "yggdrasill.character.age"}}/>{{localize "yggdrasill.character.ageUnit"}}
            </td>
            <td>
                <h3>{{localize "yggdrasill.character.archetype"}}</h3>
            </td>
            <td>
                <input name="data.archetype" type="text" value="{{data.data.archetype}}" placeholder={{localize "yggdrasill.character.archetype"}}/>
            </td>
        </tr>
        <tr>
            <td>
                <h3>{{localize "yggdrasill.character.kingdom"}}</h3>
            </td>
            <td>
                <input name="data.kingdom" type="number" value="{{data.data.kingdom}}" placeholder={{localize "yggdrasill.character.kingdom"}}/>
            </td>
            <td>
                <h3>{{localize "yggdrasill.character.profession"}}</h3>
            </td>
            <td>
                <input name="data.profession" type="text" value="{{data.data.profession}}" placeholder={{localize "yggdrasill.character.profession"}}/>
            </td>
        </tr>
        <tr>
            <td>
                <h3>{{localize "yggdrasill.character.size"}}</h3>
            </td>
            <td>
                <input name="data.size" type="number" value="{{data.data.size}}" placeholder={{localize "yggdrasill.character.size"}}/>m
            </td>
            <td>
                <h3>{{localize "yggdrasill.character.weight"}}</h3>
            </td>
            <td>
                <input name="data.weight" type="text" value="{{data.data.weight}}" placeholder={{localize "yggdrasill.character.weight"}}/>kg
            </td>
        </tr>
        <tr>
            <td>
                <h3>{{localize "yggdrasill.character.flair"}}</h3>
            </td>
            <td>
                <input name="data.flair" type="number" value="{{data.data.flair}}" placeholder={{localize "yggdrasill.character.flair"}}/>m
            </td>
            <td>
                <h3>{{localize "yggdrasill.character.weakness"}}</h3>
            </td>
            <td>
                <input name="data.weakness" type="text" value="{{data.data.weakness}}" placeholder={{localize "yggdrasill.character.weakness"}}/>kg
            </td>
        </tr>
    </table>
</section>