<section class="aett-list">
    <table>
        <tr>
            <th>{{localize "yggdrasill.item.property"}}</th>
            <td>
                <div  style="display: grid; grid-template-columns:1fr 50%; gap:2px;">
                    <label class="checkbox"> <input type="checkbox" name="data.isBerserk" {{checked data.data.isBerserk}}> {{localize "yggdrasill.character.isBerserk"}}</label>
                </div>
            </td>
            <td>
                <div  style="display: grid; grid-template-columns:1fr 50%; gap:2px;">
                    <label class="checkbox"> <input type="checkbox" name="data.isInitiated" {{checked data.data.isInitiated}}> {{localize "yggdrasill.character.isInitiated"}}</label>
                </div>
            </td>
        </tr>
    </table>
</section>