<section>
    <table>
        <tr>
            <td></td>
            <td>Base</td>
            <td>{{localize "yggdrasill.character.run"}}</td>
            <td>{{localize "yggdrasill.character.sprint"}}</td>
        </tr>
        <tr>
            <th>{{localize "yggdrasill.characteristics.secondary.transport"}}</th>
            <td>
                <input name="data.secCarac.transport.value" type="number" value="{{data.data.secCarac.transport.value}}"
                data-dtype="Number" />
            </td>
            <td>
                {{data.data.secCarac.transport.run}}
            </td>
            <td>
                {{data.data.secCarac.transport.sprint}}
            </td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td>{{localize "yggdrasill.character.status"}}</td>
            <td>{{localize "yggdrasill.character.actionsMod"}}</td>
        </tr>
        <tr>
            <th>{{localize "yggdrasill.characteristics.secondary.spaceReq"}}</th>
            <td>
                <span>{{data.data.secCarac.spaceReq.value}}</span>
            </td>
            <td>{{localize (lookup config.importantCharacEncStatus data.data.secCarac.spaceReq.status)}}
            </td>
            <td>
                {{data.data.secCarac.spaceReq.modifier}}
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <th>{{localize "yggdrasill.character.legendPt"}}</th>
            <td>
                <input name="data.legendPt" type="number" value="{{data.data.legendPt}}"
                data-dtype="Number" />
            </td>
        </tr>
        <tr>
            <th>{{localize "yggdrasill.character.renown"}}</th>
            <td>
                <input name="data.renown" type="number" value="{{data.data.renown}}"
                data-dtype="Number" />
            </td>
        </tr>
    </table>
</section>