<section>
    <table>
        <tr>
            <td></td>
            <td>0</td>
            <td>SR 10</td>
            <td>SR 14</td>
        </tr>
        <tr>
            <th>{{localize "yggdrasill.characteristics.secondary.transport"}}</th>
            <td>
                <input name="data.secCarac.transport.value" type="number" value="{{data.data.secCarac.transport.value}}"
                data-dtype="Number" />
            </td>
            <td>
                <input name="data.secCarac.transport.sr10" type="number" value="{{data.data.secCarac.transport.sr10}}"
                data-dtype="Number" />
            </td>
            <td>
                <input name="data.secCarac.transport.sr14" type="number" value="{{data.data.secCarac.transport.sr14}}"
                data-dtype="Number" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>-3</td>
            <td>+1 Niv</td>
        </tr>
        <tr>
            <th>{{localize "yggdrasill.characteristics.secondary.spaceReq"}}</th>
            <td>
                <input name="data.secCarac.spaceReq.value" type="number" value="{{data.data.secCarac.spaceReq.value}}"
                data-dtype="Number" />
            </td>
            <td>
                <input name="data.secCarac.spaceReq.min3" type="number" value="{{data.data.secCarac.spaceReq.min3}}"
                data-dtype="Number" />
            </td>
            <td>
                <input name="data.secCarac.spaceReq.plus1" type="number" value="{{data.data.secCarac.spaceReq.plus1}}"
                data-dtype="Number" />
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <th>{{localize "yggdrasill.character.legendPt"}}</th>
            <td>
                <input name="data.legendPt" type="number" value="{{data.data.legendPt}}"
                data-dtype="Number" />
            </td>
        </tr>
        <tr>
            <th>{{localize "yggdrasill.character.renown"}}</th>
            <td>
                <input name="data.renown" type="number" value="{{data.data.renown}}"
                data-dtype="Number" />
            </td>
        </tr>
    </table>
</section>