<section class="weapon-list">
    <table>
        <tr>
            <th>{{localize "yggdrasill.weapon.name"}}</th>
            <th>{{localize "yggdrasill.weapon.dmgBase"}}</th>
            <th>{{localize "yggdrasill.weapon.power"}}</th>
            <th>{{localize "yggdrasill.weapon.instinct"}}</th>
            <th>{{localize "yggdrasill.equipment.solidity"}}</th>
            <th>{{localize "yggdrasill.equipment.enc"}}</th>
            <th>{{localize "yggdrasill.weapon.rangeConcat"}}</th>
            <th>{{localize "yggdrasill.item.price"}}</th>
            <th colspan="2">
                <a class="item-create" data-type="arme" title="{{localize "yggdrasill.sheet.addWpn"}}">
                    <i class="fas fa-plus"></i>
                </a>
            </th>
        </tr>
        {{#each weapons as |weapon id|}}
            {{> "systems/yggdrasill/templates/partials/cards/weapon-card.hbs"}}
        {{/each}}
    </table>
</section>