<section class="competence-list">
    <table>
        <tr>
            <th>
                {{localize "yggdrasill.competence.name"}}
            </th>
            <th>{{localize "yggdrasill.competence.value"}}</th>
            <th colspan="2">
                <a class="item-create" data-type="competence" title="{{localize "yggdrasill.sheet.addCpt"}}">
                    <i class="fas fa-plus"></i>
                </a>
            </th>
        </tr>
        {{#each competences as |competence id|}}
            <tr class="skill-item item" data-item-id="{{_id}}">
                <td><a><p class="task-check" data-action-value="{{data.value}}" data-nb-dice-kept="{{../data.data.nbDiceKept}}" data-nb-dice-furor="{{../data.data.nbDiceFuror.value}}" data-destiny-dice="0" data-carac-value="{{../data.data.primCarac.body.power.value}}" data-modifier="{{add ../data.data.rollModifier ../data.data.primCarac.body.power.mod}}" >{{name}}</p></a></td>
                <td>
                    <input class="skill-value inline-edit" data-field="data.value" type="number" min="0" value="{{data.value}}"/>
                    </td>
                <td>
                    <a class="item-edit" title="{{localize "yggdrasill.sheet.editCpt"}}">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
                <td>
                    <a class="item-delete " title="{{localize "yggdrasill.sheet.deleteCpt"}}">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        {{/each}}
    </table>
</section>