<section class="extraCaracs-list">
    <table>
        <tr>
            <td>
                <h3>{{localize "yggdrasill.extra.conflict"}}</h3>
            </td>
            <td>
                <div  style="display: grid; grid-template-columns:1fr 50%; gap:2px;">
                    <input name="data.conflict.offensive" type="number" min="0"value="{{data.data.conflict.offensive}}"
                data-dtype="Number" /><input name="data.conflict.defensive" type="number" min="0"value="{{data.data.conflict.defensive}}"
                data-dtype="Number" />
                </div>
            </td>
            <td>
                <a><h3 class="item-roll" data-extra=true data-value={{data.data.relational}}>{{localize "yggdrasill.extra.relational"}}</h3></a>
            </td>
            <td>
                <input name="data.relational" type="number" min="0"value="{{data.data.relational}}"
                data-dtype="Number" />
            </td>
            <td>
                <a><h3 class="item-roll" data-extra=true data-value={{data.data.physic}}>{{localize "yggdrasill.extra.physic"}}</h3></a>
            </td>
            <td>
                <input name="data.physic" type="number" min="0"value="{{data.data.physic}}"
                data-dtype="Number" />
            </td>
        </tr>
        <tr>
            <td>
                <a><h3 class="item-roll" data-extra=true data-value={{data.data.mental}}>{{localize "yggdrasill.extra.mental"}}</h3></a>
            </td>
            <td>
                <input name="data.mental" type="number" min="0"value="{{data.data.mental}}"
                data-dtype="Number" />
            </td>
            <td>
                <h3>{{localize "yggdrasill.extra.mystic"}}</h3>
            </td>
            <td>
                <div  style="display: grid; grid-template-columns:1fr 50%; gap:2px;">
                    <input name="data.mystic.offensive" type="number" min="0"value="{{data.data.mystic.offensive}}"
                data-dtype="Number" /><input name="data.mystic.defensive" type="number" min="0"value="{{data.data.mystic.defensive}}"
                data-dtype="Number" />
                </div>
            </td>
            <td>
                <a><h3 class="item-roll" data-extra=true data-value={{data.data.vitality}}>{{localize "yggdrasill.extra.vitality"}}</h3></a>
            </td>
            <td>
                <input name="data.vitality" type="number" min="0"value="{{data.data.vitality}}"
                data-dtype="Number" />
            </td>
        </tr>
    </table>
</section>