<section class="extraCaracs-list">
    <table>
        <tr>
            <td>
                <h3>{{localize "yggdrasill.extra.conflict"}}</h3>
            </td>
            <td>
                <div  style="display: grid; grid-template-columns:1fr 50%; gap:4px;">
                    <div  style="display: grid; grid-template-columns:1fr 50%; gap:2px;">
                        <input name="data.conflict.offensive.value" type="number" min="0"value="{{data.data.conflict.offensive.value}}"
                        data-dtype="Number"  style="text-align: right;"><p style="margin: 0.35em 0;">-> {{data.data.conflict.offensive.roll}}</p>
                    </div><div  style="display: grid; grid-template-columns:1fr 50%; gap:2px;">
                        <input name="data.conflict.defensive.value" type="number" min="0"value="{{data.data.conflict.defensive.value}}"
                        data-dtype="Number"  style="text-align: right;"><p style="margin: 0.35em 0;">-> {{data.data.conflict.defensive.roll}}</p>
                    </div>
                </div>
            </td>
            <td>
                <a><h3 class="item-roll" data-extra=true data-value={{data.data.relational.roll}}>{{localize "yggdrasill.extra.relational"}}</h3></a>
            </td>
            <td>
                <div  style="display: grid; grid-template-columns:1fr 50%; gap:2px;">
                    <input name="data.relational.value" type="number" min="0"value="{{data.data.relational.value}}"
                    data-dtype="Number"  style="text-align: right;"><p style="margin: 0.35em 0;">-> {{data.data.relational.roll}}</p>
                </div>
            </td>
            <td>
                <a><h3 class="item-roll" data-extra=true data-value={{data.data.physic.roll}}>{{localize "yggdrasill.extra.physic"}}</h3></a>
            </td>
            <td>
                <div  style="display: grid; grid-template-columns:1fr 50%; gap:2px;">
                    <input name="data.physic.value" type="number" min="0"value="{{data.data.physic.value}}"
                    data-dtype="Number"  style="text-align: right;"><p style="margin: 0.35em 0;">-> {{data.data.physic.roll}}</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <a><h3 class="item-roll" data-extra=true data-value={{data.data.mental.roll}}>{{localize "yggdrasill.extra.mental"}}</h3></a>
            </td>
            <td>
                <div  style="display: grid; grid-template-columns:1fr 50%; gap:2px;">
                    <input name="data.mental.value" type="number" min="0"value="{{data.data.mental.value}}"
                    data-dtype="Number"  style="text-align: right;"><p style="margin: 0.35em 0;">-> {{data.data.mental.roll}}</p>
                </div>
            </td>
            <td>
                <h3>{{localize "yggdrasill.extra.mystic"}}</h3>
            </td>
            <td>
                <div  style="display: grid; grid-template-columns:1fr 50%; gap:4px;">
                    <div  style="display: grid; grid-template-columns:1fr 50%; gap:2px;">
                        <input name="data.mystic.offensive.value" type="number" min="0"value="{{data.data.mystic.offensive.value}}"
                        data-dtype="Number"  style="text-align: right;"><p style="margin: 0.35em 0;">-> {{data.data.mystic.offensive.roll}}</p>
                    </div><div  style="display: grid; grid-template-columns:1fr 50%; gap:2px;">
                        <input name="data.mystic.defensive.value" type="number" min="0"value="{{data.data.mystic.defensive.value}}"
                        data-dtype="Number"  style="text-align: right;"><p style="margin: 0.35em 0;">-> {{data.data.mystic.defensive.roll}}</p>
                    </div>
                </div>
            </td>
            <td>
                <a><h3 class="item-roll" data-extra=true data-value={{data.data.vitality.roll}}>{{localize "yggdrasill.extra.vitality"}}</h3></a>
            </td>
            <td>
                <div  style="display: grid; grid-template-columns:1fr 50%; gap:2px;">
                    <input name="data.vitality.value" type="number" min="0"value="{{data.data.vitality.value}}"
                    data-dtype="Number"  style="text-align: right;"><p style="margin: 0.35em 0;">-> {{data.data.vitality.roll}}</p>
                </div>
            </td>
        </tr>
    </table>
</section>