<section class="extraTemper-list">
    <table>
        <tr>
            <th colspan="2">
                <a class="item-create" data-type="temper" title="{{localize "yggdrasill.sheet.addTemper"}}">
                    <i class="fas fa-plus"></i>
                </a>
            </th>
            <th>{{localize "yggdrasill.temper.name"}}</th>
            {{#times data.data.nbCaracUp}}
            <th>{{localize "yggdrasill.temper.caracName"}}</th>
            <th>{{localize "yggdrasill.temper.modifier"}}</th>
            {{/times}}
        </tr>
        {{#each tempers as |temper id|}}
        <tr class="temper-item item" data-item-id="{{_id}}">
            <td>
                <a class="item-edit" title="{{localize "yggdrasill.sheet.editTemper"}}">
                    <i class="fas fa-edit"></i>
                </a>
            </td>
            <td>
                <a class="item-delete" title="{{localize "yggdrasill.sheet.deleteTemper"}}">
                    <i class="fas fa-trash"></i>
                </a>
            </td>            
            <td>
                <div class="competence_name">{{name}}
                    <span class="comp_tooltiptext comp_tooltiptextwidth_noLinkCol comp_tooltiptextleft_noLinkCol">
                        <h1>{{name}} :</h1><p>{{{data.description}}}</p>
                    </span>
                </div>
            </td>
            {{#each data.caracs as |carac id|}}
                <td>{{localize (lookup ../../config.extraCarac carac.name)}}</td>
                {{#if (eqOr carac.name "conflict" carac.name "mystic")}}
                    <td>
                        {{carac.modifier}}/{{carac.sndModifier}}
                    </td>
                {{else}}
                    <td>
                        {{carac.modifier}}
                    </td>
                {{/if}}
            {{/each}}
        </tr>
        {{/each}}
    </table>
</section>