<tr>
    <td>{{name}}</td>
    <td>{{data.dmgBase}}</td>
    <td>{{data.solidity}}</td>
    <td>{{data.enc}}</td>
    <td></td>
    <td>{{data.rangeC}}/{{data.rangeM}}/{{data.rangeL}}/{{data.rangeE}}</td>
    <td>{{data.price}}</td>
</tr>