<tr class="protection-item item" data-item-id="{{_id}}">
    <td>
        <div class="competence_name">{{name}}
            <span class="comp_tooltiptext comp_tooltiptextwidth_noLinkCol comp_tooltiptextleft_noLinkCol">
                <h1>{{name}} :</h1><p>{{{data.description}}}</p>
            </span>
        </div>
    </td>
    
    <td>
        {{#if data.properties.equipable}}
            <label class="checkbox"><input type="checkbox" disabled="disabled" name="data.properties.equiped" {{checked  data.properties.equiped}}></label>
        {{/if}}
    </td>
    <td>
        <label class="checkbox"><input type="checkbox" disabled="disabled" name="data.properties.pieceProtec" {{checked  data.properties.pieceProtec}}></label>
    </td>
    <td>{{data.defBase.value}}</td>
    <td>{{data.solidity}}</td>
    <td>{{data.enc}}</td>
    <td><label class="checkbox"><input class="weapon-stored inline-edit" disabled="disabled" data-field="data.properties.stored" type="checkbox" {{checked  data.properties.stored}}></label></td>
    <td>{{data.price}}</td>
    <td>
        <a class="item-edit" title="{{localize "yggdrasill.sheet.editProt"}}">
            <i class="fas fa-edit"></i>
        </a>
    </td>
    <td>
        <a class="item-delete" title="{{localize "yggdrasill.sheet.deleteProt"}}">
            <i class="fas fa-trash"></i>
        </a>
    </td>
</tr>