<tr class="skill-item item" data-item-id="{{_id}}">
    <td><a><p class="task-check"  data-carac-value="{{../data.data.primCarac.body.power.value}}" data-action-value="{{data.value}}">{{name}}</p></a></td>
    <td>
        <input class="skill-value inline-edit" data-field="data.value" type="number" min="0" value="{{data.value}}"/>
        </td>
    <td>
        <a class="item-edit" title="{{localize "yggdrasill.sheet.editCpt"}}">
            <i class="fas fa-edit"></i>
        </a>
    </td>
    <td>
        <a class="item-delete " title="{{localize "yggdrasill.sheet.deleteCpt"}}">
            <i class="fas fa-trash"></i>
        </a>
    </td>
    <td>val : {{data.data.primCarac.body.power.value}}</td>
</tr>