<tr class="weapon-item item" data-item-id="{{_id}}">
    <td>
        <div class="competence_name"><a><p class="task-check" data-tasktype="arme" >{{name}}</p></a>
            <span class="comp_tooltiptext comp_tooltiptextwidth_noLinkCol comp_tooltiptextleft_noLinkCol">
                <h1>{{name}} :</h1><p>{{{data.description}}}</p>
            </span>
        </div>
    </td>
    <td>{{data.dmgBase}}</td>
    {{#if data.properties.ranged}}
        {{#if (not data.properties.instinct)}}
            <td><label class="checkbox"><input class="weapon-power inline-edit" data-field="data.properties.power" type="checkbox" {{checked  data.properties.power}}></label></td>   
        {{else}}
            <td> </td>
        {{/if}}
        {{#if (not data.properties.power)}}
            <td><label class="checkbox"><input class="weapon-instinct inline-edit" data-field="data.properties.instinct" type="checkbox" {{checked  data.properties.instinct}}></label></td>    
        {{else}}
            <td> </td>
        {{/if}}
    {{else}}
    <td> </td>
    <td> </td>
    {{/if}}
    <td>
        <input class="weapon-solidity inline-edit" data-field="data.solidity" type="number" min="0" value="{{data.solidity}}"/>
        </td>
    <td>{{data.enc}}</td>
    <td><label class="checkbox"><input class="weapon-stored inline-edit" disabled="disabled" data-field="data.properties.stored" type="checkbox" {{checked  data.properties.stored}}></label></td>
    {{#if data.properties.ranged}}
    <td>{{data.rangeC}}/{{data.rangeM}}/{{data.rangeL}}/{{data.rangeE}}</td>
    {{else}}
    <td> </td>
    {{/if}}
    <td>
        <input class="weapon-price inline-edit" data-field="data.price" type="number" min="0" value="{{data.price}}"/>
        </td>
    <td>
        <a class="item-edit" title="{{localize "yggdrasill.sheet.editWpn"}}">
            <i class="fas fa-edit"></i>
        </a>
    </td>
    <td>
        <a class="item-delete" title="{{localize "yggdrasill.sheet.deleteWpn"}}">
            <i class="fas fa-trash"></i>
        </a>
    </td>
</tr>