<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="128" width="128" />
        <h1>
            <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
        </h1>
    </header>
    <div class="sheet-content">
        <h3>
            {{localize "yggdrasill.description"}}
        </h3>
        {{editor content=data.data.description target="data.description" button=true owner=owner editable=editable}}
        <h3>
            Type d'objet
        </h3>
        <table>
            <tr>
                <th>{{localize "yggdrasill.weapon.subType"}}</th>
                <td>
                    <select name="data.subType" style="width:100%">
                        {{#select data.data.subType}}
                        {{#each config.weaponTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
            </tr>
            <tr>
                <th>{{localize "yggdrasill.item.property"}}</th>
                <td>
                    <label class="checkbox"> <input type="checkbox" name="data.properties.equipable" {{checked data.data.properties.equipable}}> {{localize "yggdrasill.equipment.equipable"}}</label>
                    <label class="checkbox"><input type="checkbox" name="data.properties.stored"  {{checked  data.data.properties.stored}}> {{localize "yggdrasill.equipment.stored"}}</label>
                    {{#if (not data.data.properties.unique)}}
                        <label class="checkbox"> <input type="checkbox" name="data.properties.stackable" {{checked data.data.properties.stackable}}> {{localize "yggdrasill.equipment.stackable"}}</label>
                    {{/if}}
                    {{#if (not data.data.properties.stackable)}}
                        <label class="checkbox"> <input type="checkbox" name="data.properties.unique" {{checked data.data.properties.unique}}> {{localize "yggdrasill.equipment.unique"}}</label>
                    {{/if}}
                    {{#if (or (eq data.data.subType "wThrow") (eq data.data.subType "wShot"))}}
                        <label class="checkbox"><input type="checkbox" name="data.properties.ranged" {{checked  data.data.properties.ranged}}> {{localize "yggdrasill.equipment.ranged"}}</label>
                    {{else}}
                        <label class="checkbox"> <input type="checkbox" name="data.properties.2Handed" {{checked data.data.properties.2Handed}}> {{localize "yggdrasill.equipment.2Handed"}}</label>
                    {{/if}}
                    <label class="checkbox"><input type="checkbox" name="data.properties.weapon" {{checked  data.data.properties.weapon}}> {{localize "yggdrasill.equipment.weapon"}}</label>
                </td>
            </tr>
            <tr>
                <th>{{localize "yggdrasill.item.price"}}</th>
                <td>
                    <input name="data.price" type="number" value="{{data.data.price}}" data-type="Number">
                </td>
            </tr>
            {{#if (not data.data.properties.unique)}}
            <tr>
                <th>{{localize "yggdrasill.item.qty"}}</th>
                <td>
                    <input name="data.qty" type="number" value="{{data.data.qty}}" data-type="Number">
                </td>
            </tr>
            {{/if}}
        </table>
        {{#if (or (eq data.data.subType "wThrow") (eq data.data.subType "wShot"))}}
            <h3>
                {{localize "yggdrasill.weapon.range"}}
            </h3>
            <table>
                <tr>
                    <th>{{localize "yggdrasill.weapon.dmgBase"}}</th>
                    <th>{{localize "yggdrasill.equipment.solidity"}}</th>
                    <th>{{localize "yggdrasill.equipment.enc"}}</th>
                    <th>{{localize "yggdrasill.weapon.rangeC"}}</th>
                    <th>{{localize "yggdrasill.weapon.rangeM"}}</th>
                    <th>{{localize "yggdrasill.weapon.rangeL"}}</th>
                    <th>{{localize "yggdrasill.weapon.rangeE"}}</th>
                </tr>
                <tr>
                    <td>
                        <input name="data.dmgBase" type="number" value="{{data.data.dmgBase}}" data-type="Number">
                    </td>
                    <td>
                        <input name="data.solidity" type="number" value="{{data.data.solidity}}" data-type="Number">
                    </td>
                    <td>
                        <input name="data.enc" type="number" value="{{data.data.enc}}" data-type="Number">
                    </td>
                    <td>
                        <input name="data.rangeC" type="number" value="{{data.data.rangeC}}" data-type="Number">
                    </td>
                    <td>
                        <input name="data.rangeM" type="number" value="{{data.data.rangeM}}" data-type="Number">
                    </td>
                    <td>
                        <input name="data.rangeL" type="number" value="{{data.data.rangeL}}" data-type="Number">
                    </td>
                    <td>
                        <input name="data.rangeE" type="number" value="{{data.data.rangeE}}" data-type="Number">
                    </td>
                </tr>
            </table>
        {{else}}
            <h3>
                {{localize "yggdrasill.weapon.melee"}}
            </h3>
            <table>
                <tr>
                    <th>{{localize "yggdrasill.weapon.dmgBase"}}</th>
                    <th>{{localize "yggdrasill.equipment.solidity"}}</th>
                    <th>{{localize "yggdrasill.equipment.enc"}}</th>
                </tr>
                <tr>
                    <td>
                        <input name="data.dmgBase" type="number" value="{{data.data.dmgBase}}" data-type="Number">
                    </td>
                    <td>
                        <input name="data.solidity" type="number" value="{{data.data.solidity}}" data-type="Number">
                    </td>
                    <td>
                        <input name="data.enc" type="number" value="{{data.data.enc}}" data-type="Number">
                    </td>
                </tr>
            </table>
        {{/if}}
        </div>
</form>