<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="128" width="128" />
        <h1>
            <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
        </h1>
    </header>
    <div class="sheet-content">
        <h3>
            Description
        </h3>
        {{editor content=data.data.description target="data.description" button=true owner=owner editable=editable}}
        <h3>
            Type d'objet
        </h3>
        <table>
            <tr>
                <th>{{localize "yggdrasill.weapon.pSubType"}}</th>
                <td>
                    <select name="data.pSubType" style="width:100%">
                        {{#select data.data.pSubType}}
                        {{#each config.protectionTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
            </tr>
            <tr>
                <th>{{localize "yggdrasill.item.property"}}</th>
                <td>
                    <label class="checkbox"> <input type="checkbox" name="data.properties.equipable" {{checked data.data.properties.equipable}}> {{localize "yggdrasill.equipment.equipable"}}</label>
                    {{#if (not data.data.properties.unique)}}
                        <label class="checkbox"> <input type="checkbox" name="data.properties.stackable" {{checked data.data.properties.stackable}}> {{localize "yggdrasill.equipment.stackable"}}</label>
                    {{/if}}
                    {{#if (not data.data.properties.stackable)}}
                        <label class="checkbox"> <input type="checkbox" name="data.properties.unique" {{checked data.data.properties.unique}}> {{localize "yggdrasill.equipment.unique"}}</label>
                    {{/if}}
                    <label class="checkbox"><input type="checkbox" name="data.properties.protection" {{checked  data.data.properties.protection}}> {{localize "yggdrasill.equipment.protection"}}</label>
                    {{#if (eq data.data.pSubType "pieceArmor")}}
                        <label class="checkbox"><input type="checkbox" name="data.properties.pieceProtec" {{checked  data.data.properties.pieceProtec}}> {{localize "yggdrasill.equipment.pieceProtec"}}</label>
                    {{/if}}
                </td>
            </tr>
            <tr>
                <th>{{localize "yggdrasill.item.price"}}</th>
                <td>
                    <input name="data.price" type="number" value="{{data.data.price}}" data-type="Number">
                </td>
            </tr>
            {{#if (not data.data.properties.unique)}}
            <tr>
                <th>{{localize "yggdrasill.item.qty"}}</th>
                <td>
                    <input name="data.qty" type="number" value="{{data.data.qty}}" data-type="Number">
                </td>
            </tr>
            {{/if}}
        </table>
        {{#if (eq data.data.pSubType "shield")}}
            <table>
                <tr>
                    <th>{{localize "yggdrasill.equipment.defBase"}}</th>
                    <th>{{localize "yggdrasill.equipment.solidity"}}</th>
                    <th>{{localize "yggdrasill.equipment.enc"}}</th>
                </tr>
                <tr>
                    <td>
                        <input name="data.defBase.value" type="number" value="{{data.data.defBase.value}}" data-type="Number">
                    </td>
                    <td>
                        <input name="data.solidity" type="number" value="{{data.data.solidity}}" data-type="Number">
                    </td>
                    <td>
                        <input name="data.enc" type="number" value="{{data.data.enc}}" data-type="Number">
                    </td>
                </tr>
            </table>
        {{else}}
            <table>
                <tr>
                    <th>{{localize "yggdrasill.equipment.defBase"}}</th>
                    <th>{{localize "yggdrasill.equipment.enc"}}</th>
                </tr>
                <tr>
                    <td>
                        <input name="data.defBase.value" type="number" value="{{data.data.defBase.value}}" data-type="Number">
                    </td>
                    <td>
                        <input name="data.solidity" type="number" value="{{data.data.solidity}}" data-type="Number">
                    </td>
                </tr>
            </table>
        {{/if}}
        </div>
</form>